body {
  display: flex;
  background-color: blue;
}

body .backgroundMeong {
  margin: auto;
  background-color: aqua;
  width: 50vw;
  height: 100vh;
  justify-content: center;
}

.navbar {
}

.item {
}
